# Helm
charts/library/ksvc/charts/
charts/library/ksvc/test-chart/charts/
charts/library/ksvc/test-chart/Chart.lock
charts/app/ksvc/charts/
examples/*/charts/
*.tgz

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.debug/
